<h2 class="my-3">ログインページ</h2>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="mb-3">
    <div class="col-3">
    <%= f.label :email, (t 'sessions.new.email'), class: "form-label" %><br>
    <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-3">
    <%= f.label :password, (t 'sessions.new.password'), class: "form-label" %><br>
    <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit "ログイン", id: "create-session", class: "btn btn-primary col-1" %>
  </div>
<% end %>