<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :deadline_on %><br>
    <%= form.date_field :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, Task.priorities.keys, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Task.statuses.keys, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :label %><br>
    <% Label.all.each do |label| %>
      <% if label.user_id == current_user.id %>
      <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id] %>
      <%= label.name %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit id: button_id %>
  </div>
<% end %>
