<h2 class="my-5 text-center"><%= t('.title') %></h2>

<div class="row justify-content-center">
  <div class="col-md-8">
    <p class="fw-bold"><%= t('activerecord.attributes.task.title') %>: <span class="fw-normal"><%= @task.title %></span></p>
    <p class="fw-bold"><%= t('activerecord.attributes.task.content') %>: <span class="fw-normal"><%= @task.content %></span></p>
    <p class="fw-bold"><%= t('activerecord.attributes.task.created_at') %>: <span class="fw-normal"><%= l @task.created_at %></span></p>
    <p class="fw-bold"><%= t('activerecord.attributes.task.deadline_on') %>: <span class="fw-normal"><%= @task.deadline_on %></span></p>
    <p class="fw-bold"><%= t('activerecord.attributes.task.priority') %>: <span class="fw-normal"><%= @task.priority %></span></p>
    <p class="fw-bold"><%= t('activerecord.attributes.task.status') %>: <span class="fw-normal"><%= @task.status %></span></p>
    <p class="fw-bold">
      <%= 'ラベル' %>: <span class="fw-normal"><% @task.labels.each do |label| %>
      <%= label.name %></span>
      <% end %>
    </p>
    <%= link_to t('helpers.links.edit'), edit_task_path(@task), id: "edit-task", class: "text-decoration-none" %> |
    <%= link_to t('helpers.links.back'), tasks_path, id: "back", class: "text-decoration-none" %>
  </div>
</div>
