<h1><%= t('.title') %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.task.title') %></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.content') %></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.created_at') %></strong>
  <%= @task.created_at %>
</p>

<%= link_to t('helpers.links.edit'), edit_task_path(@task), id: "edit-task" %> |
<%= link_to t('helpers.links.back'), tasks_path, id: "back" %>
