<h1>ラベル一覧ページ</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.label.name') %></th>
      <th><%= t('activerecord.attributes.user.task_amount') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <% if label.user_id == current_user.id %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.length %></td>
        <td><%= link_to t('helpers.links.edit'), edit_label_path(label), class: "edit-label" %></td>
        <td><%= link_to t('helpers.links.destroy'), label, method: :delete, data: { confirm: t('helpers.messages.destroy_confirm') }, class: "destroy-label" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
